@import url('https://fonts.googleapis.com/css?family=Monstserrat');
body{
	margin:0;
	padding:0;
	font-size:13px;
	font-family: Montserrat;

	color:#F8F8F2;
	background: #136a8a; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #136a8a , #267871); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #136a8a , #267871); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        
}
h1{
   margin-top:26px;
}
hr{
    width: 25%;
    margin: 10px auto;
    border: 2px dashed #8c8b8b;
    opacity: 0.4;
}

img{margin:0; padding:0; border:none;}

a{outline:none; text-decoration:none;}

.fl_left{float:left;}
.fl_right{float:right;}

.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D7DBE0;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 12px;
    margin:70px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
    width:200px;
}

input[type="text"], 
input[type="email"] {
    border: 2px solid #ccc;
    padding: 2px;
    font-size: 1.05em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width:200px;
}

input[type="submit"],
input[type="reset"]
 {
    font-size: 0.8em;
    padding: 5px;
    border:2px solid #50C9C3;
    background: #136a8a;
    color: #fff;
    font-weight: bold;
    
}
input[type="submit"]:hover,
input[type="reset"]:hover
 {
    font-size: 0.8em;
    padding: 5px;
    border:2px solid #50C9C3;
    background: transparent;
    color: #fff;
    font-weight: bold;
    

}
/* TABLE
----------------------------------------------------------*/

table {
    border: solid 3px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 2px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 2px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{list-style-type:none; margin:0; padding:0;}

.clear{display:inline-block;}

.clear {
    clear: both;
}


div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: Black;
}

#logindisplay a:link {
    color: Black;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: Black;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: Black;
    text-decoration: none;
}



